table {
  width: 100%;
  padding: 1rem;
  thead {
    border-bottom: 1px solid #000;
  }
}

th {
  padding: 1rem 2rem;
  border-bottom: 1px solid #000;
  text-align: start;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
td {
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-align: start;
  border-bottom: 1px solid rgb(224, 224, 224);
}
button {
  padding: 0.5rem 1rem;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: all 600ms ease-in-out;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
